{% extends "base.html" %}

{% block title %}Cardio{% endblock %}

{% block content %}
<h1>CARDIO PAGE</h1>
<form method="POST">
    <div class="form-group">
    <label for="cardio_name">Cardio type</label>
    <input type="cardio_name" class="form-control" id="cardio_name" name="cardio_name" placeholder="Enter cardio">
    <label for="place">Place</label>
    <input type="place" class="form-control" id="place" name="place" placeholder="Enter place">
    <label for="distance">Distance</label>
    <input type="distance" class="form-control" id="distance" name="distance" placeholder="Enter distance">
    <label for="duration">Duration</label>
    <input type="duration" class="form-control" id="duration" name="duration" placeholder="Enter duration">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}