{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>HOME PAGE</h1>
<h1>Hi, {{user.name}}</h1>
<h3 align = "center">Different activities</h3>
    <ul class="list-group" id = "activities" ></ul>
    {% for activity in user.activities %}

    <li class="list-group-item" ><h4>{{activity.activity_name}} <span class="badge badge-primary badge-pill float-right" >{{activity.date}}</span></h4>
       
        <form method="POST" action="{{ url_for('views.delete_activity', id=activity.id) }}">          
            <button type="submit" class="btn btn-danger float-right text-center">Delete</button>
        </form>

        <div class="d-flex justify-content-end">
        <a class="btn btn-primary  float-center" href= 'activity/{{activity.id}}'>Details </a>
         </div>
        
    </li> 
    {% endfor %}
</ul>


<h3 align = "center">Cardios</h3>
    <ul class="list-group" id = "cardios">

    {% for cardio in user.cardios %}
    <li class="list-group-item" ><h4>{{cardio.cardio_name}} 
        <span class="badge badge-secondary badge-pill float-right">{{cardio.date}}</span></h4>
        
        <form method="POST" action="{{ url_for('views.delete_cardio', id=cardio.id) }}">       
            <button type="submit" class="btn btn-danger float-right text-center">Delete</button>
        </form>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary  float-center" href= 'cardio/{{cardio.id}}'>Details </a>
        </div>
    </li>  
   
    
    {% endfor %}
</ul>


{% endblock %}